[2015-10-29 22:01] boneskull opened #1 "2.x breaking change could have been avoided"
Given that `get-port` now returns a `Promise`, code that expects it to accept a callback will obviously not work.

I'd encourage you to use something like [bluebird's asCallback()](http://bluebirdjs.com/docs/api/ascallback.html).  this will make 1.x code still work against 2.x.

[code]

not a huge issue, but this can cause confusion, because users who used to promisify `get-port` themselves will e

[2015-10-29 22:02] boneskull commented on #1
(I can send a PR if you like)

[2015-10-29 22:05] sindresorhus commented on #1
Thanks for the suggestion, but I'm gonna pass. I'm not interested in having two different interfaces.

If devs upgrade major versions without looking at the changes, they deserve what's coming to them, tbh ;)

[2015-10-29 22:05] #1 closed

[2015-10-29 22:12] boneskull commented on #1
You're free to have that attitude.

The Promise behavior could have been introduced in a minor when used with a similar solution as above; it wasn't necessary to break anything here.

[2015-10-29 22:17] sindresorhus commented on #1
Promise change wasn't the only breaking change: https://github.com/sindresorhus/get-port/commit/7335d75e8af2c2c48fa324e88d3e4c0144a946c7

[2016-04-03 16:49] callumlocke opened #3 "Allow constraining to a set of possible ports"
Would you accept a PR that allowed usage like this:

[code]

[2016-04-03 17:00] sindresorhus commented on #3
Why?

[2016-04-03 17:39] callumlocke commented on #3
I think it's useful to know roughly what port a given tool might use, even if not exact. For example browser-sync always finds me the first available port starting from 3000 (so it's generally something between 3000 and 3010), and I like that consistency. It makes it easier to see what's going on when I've got multiple tools serving things on different ports and I'm flicking between tabs.

[2016-04-03 17:59] sindresorhus commented on #3
Doing this would require a full rewrite of this module as it's currently exploiting the fact that passing `0` as port gives you a random port.

There are many modules already doing this, so I would recommend just using one of those:

- https://github.com/pe8ter/rand-port
- https://github.com/soyuka/local-port
- https://github.com/toksea/node-random-port
- https://github.com/kessler/find-port

[2016-04-03 17:59] #3 closed

[2017-03-23 20:25] djmadeira opened #6 "Default port?"
Any interest in accepting a PR to support passing in a preferred/default port?

[2017-03-24 14:21] sindresorhus commented on #6
What's the point on having a preferred port if it's not guaranteed? I'm interested in your use-case.

[2017-03-24 14:54] dylang commented on #6
As a developer working on a web server based project, like something that uses Express or Koa, it's
nice to have a predictable port when running `yarn start`.

* Chrome's autocomplete is port-particular
* If have a mechanism to automatically open in the browser and re-use the same tab then the port must be the same.
* Chrome can autocomplete the path getting you into a page you were working on ear

[2017-04-04 16:50] #6 closed

[2017-05-28 22:01] arcticShadow opened #8 "Node defaults to ipv6 for port resolution"
We noticed that get-port is defaulting to ipv6 for port resolution, which is giving false positives. i.e. given a default port, it comes back as available, where it is actually not available.

We will add more info to this issue shortly - Right now, we need an issue link for tracking purposes.

[2017-05-28 22:32] muntact commented on #8
Specifically the odd behaviour that we are seeing is that get-port by default checks for an available port using the IPV6 interface `::` so when we check the desired port is available it returns true even if it is blocked for IPV4, however when we tell our server to listen on a port that we expect to be unblocked we get the `EADDRINUSE` error.

There appears to be a slew of somewhat related issues

[2017-05-29 04:49] muntact commented on #8
Would it be worth adding some configurability to the module wrt the host value used?

a: Pass a host arg verbatim - falling through to undefined:

[code]

b: Similar to above but have a useIPV6 arg instead of host? - feels like this could be restrictive...

[code]

c: use a flag to indicate checking both? though this feels almost counter to a single purpose module... i guess if get-port was change

[2017-05-31 00:36] rtsao commented on #8
According to the [latest Node docs](https://nodejs.org/api/net.html#net_server_listen_port_host_backlog_callback):

`server.listen([port][, host][, backlog][, callback])`

[2017-05-31 00:38] arcticShadow commented on #8
We've seen that documentation. The Problem comes when you are explicitly trying to find a port for ipv4 because for whatever reason you want to bind to ipv4.

[2017-06-28 13:58] OmgImAlexis opened #9 "Detect docker?"
This library either can't detect docker containers using ports or can't detect mongodb.

Ref: https://github.com/CImrie/mongomem/issues/2#issuecomment-311667962

[2017-06-28 14:01] OmgImAlexis commented on #9
Looks like it can't detect docker. Changing the script to check port `3200` and then using `docker run -d -p 3200:80 tutum/hello-world` returns `3200` even though the port is now taken.

[2017-06-28 14:14] sindresorhus commented on #9
This module uses port `0`, which should give you an unused port. If it doesn't do that, it's better to open an issue on Node.js.

[2017-06-29 07:18] OmgImAlexis commented on #9
This is a bug with the `net` package, right?

Changed the test.
[code]

[code]

[2017-07-02 01:03] sindresorhus commented on #9
If it's a bug, yes.

[2017-07-10 16:46] OmgImAlexis commented on #9
As per https://github.com/nodejs/node/issues/14034#issuecomment-314159976 maybe use `0.0.0.0` for the host as a default so Docker container and other apps bound to `0.0.0.0` are detected.

[2017-07-18 21:51] satazor commented on #8
@sindresorhus are you willing to accept an option for this? If yes, shall we accept the host on the second arg?

[2017-07-18 23:47] sindresorhus commented on #8
@satazor Yes, I guess that would be the best solution.

[2017-07-20 09:20] cavacn opened #10 "when I listening at 0.0.0.0:8080 , I get port 8080~It's resolve the port is 8080~"
It's bug?
Becaust net.createServer host default is 'localhost'

[2017-07-21 18:10] sindresorhus commented on #10
Not really entirely sure what you're talking about, but I think you want to take a look at: https://github.com/sindresorhus/get-port/issues/8

[2017-07-21 18:10] #10 closed

[2017-07-27 12:12] acostalima commented on #8
@sindresorhus I've just submitted a PR to address this issue.

[2017-08-20 08:31] #8 closed

[2017-08-20 11:56] acostalima commented on #9
@OmgImAlexis with the release of v3.2.0 (9782a34), you can pass the host address as an option. The defaults are provided by Node's [`server.listen`]
(https://nodejs.org/api/net.html#net_server_listen_options_callback) which, IMO, should be kept that way.
@sindresorhus what do you think?

[2017-08-20 12:11] OmgImAlexis commented on #9
@acostalima maybe a warning in the README needs to be added then since I would expect this package to check all ports not just those bound to localhost.

[2017-11-14 14:17] dotchev opened #14 "Race condition"
It seems there is a chance for race conditions.
In the time between `getPort` and the real use of the port (most probably another listen on the same port) it is possible that another process takes the port and it is no longer free.
At least this should be highlighted in the documentation.

[2017-11-15 08:07] sindresorhus commented on #14
I had just assumed that was obvious, but I agree it should be documented.

[2017-11-27 23:01] tarun opened #15 "document that the port may not be immediately available for (re-)use"
since getPort reserves a port and releases it to find an unused port number - trying to use that port number immediately afterwards may not work as *nix machines, which have a re-use timeout for the port to be available again.

This issue is for adding some documentation describing this behavior (if appropriate).

Related post:
https://unix.stackexchange.com/questions/17218/how-long-is-a-tcp-local

[2017-11-27 23:05] tarun commented on #15
As per docs nodejs sets the option `SO_REUSEADDR`
https://nodejs.org/dist/latest-v8.x/docs/api/net.html

[2017-11-28 19:01] tarun commented on #15
A few more posts while I am debugging this on Ubuntu 14.04 Trusty and learning about BSD Socket Options `SO_REUSEPORT` and `SO_REUSEADDR`

https://stackoverflow.com/questions/14388706/socket-options-so-reuseaddr-and-so-reuseport-how-do-they-differ-do-they-mean-t
https://github.com/nodejs/node/issues/2604#issuecomment-135960433
http://man7.org/linux/man-pages/man7/socket.7.html

[2017-11-28 22:08] tarun commented on #15
nevermind. I had a bug in my script (npm start was always running the script from the parent package.json - despite being in nested module directory).

The above doesn't seem to be a real issue since node always sets `SO_REUSEADDR`

[2017-11-28 22:08] #15 closed

[2017-12-05 16:40] reesmanp opened #16 "Default port not catching errors"
I am using the default port feature but it does not seem to be catching the error on node 8.9 if the default port is taken. A `listen EADDRINUSE` error propagates.

[2017-12-16 10:10] sindresorhus commented on #16
[This test](https://github.com/sindresorhus/get-port/blob/9782a3450af88eec601360589e73f48c4c9315e8/test.js#L24-L35) is passing in Node.js 8.9. Would you be able to submit a [failing test](https://github.com/avajs/ava#failing-tests)?

[2018-01-04 17:15] YounGoat opened #17 "May I use port range to define preferred port?"
Something like what I used in [portman](https://www.npmjs.com/package/portman#portmanportrange).

[2018-01-04 18:29] sindresorhus commented on #17
If people need something like that they can just use `portman` or other modules supporting it. I don't want to complicate this module with something I would never use.

[2018-01-04 18:29] #17 closed

[2018-01-11 17:39] reesmanp commented on #16
![screen shot 2018-01-11 at 9 37 36 am](https://user-images.githubusercontent.com/5932381/34838513-39a89b76-f6b3-11e7-91a7-728a42efc6ea.png)

I have an instance of my application running on the default port and here I just ran a second instance and it fails when trying the default port.

[2018-01-24 15:08] ibc opened #18 "UDP ports do also exist"
The author of this module may want to clarify in the README / API that `get-port` is just valid for getting a free **TCP** port.

Yes, this is Node.js and in Node.js all is about HTTP and stuff on top of HTTP. But **UDP** does also exist.

Thanks.

[2018-03-01 14:33] shellscape commented on #18
Holy condescending issue, Batman. File a PR if you think the README can use an update. Good grief.

[2018-03-01 14:40] ibc commented on #18
No thanks, I try to avoid packages/software that assumes that Internet is TCP. Fortunately there are alternatives.

[2018-03-01 14:40] #18 closed

[2018-03-04 07:05] kaihaase-wd commented on #16
@reesmanp I had the same problem and could fix it by handing over both the port and the host in the configuration:

[code]

[2018-03-05 21:44] reesmanp commented on #16
@kaihaase-wd your solution seems to work. Thanks!
@sindresorhus I would recommend adding the solution to the docs.
I am closing this issue now.

[2018-03-05 21:44] #16 closed

[2018-03-06 15:11] shellscape commented on #16
@kaihaase-wd for whatever reason, I can confirm the same. Adding the host resolved an issue whereby get-port would return a port currently in use.

[2018-03-29 09:28] AxelTerizaki opened #19 "Array of preferred ports instead of just one number"
I think it could be interesting to have the ability to pass an array of preferred ports instead of just one before get-port gives up and tries a random port.

Would this be possible?

[2018-03-29 10:41] kevva commented on #19
I have the same question as in https://github.com/sindresorhus/get-port/issues/6#issuecomment-289035698.

Sure, having one preferred port is reasonable, but having an array seems pretty random?

[2018-03-29 10:51] AxelTerizaki commented on #19
My app is trying to be as user-friendly as possible, so I'm trying to see if port 80 is available to start a webserver on it. It might be available, but some OSes don't allow non-admin users to open ports below 1000. So if 80 isn't open, I'd like to try to see if another port I'd like to use (1337) is available and use it. If all else fails, get a random port.

I could always try to call get-port

[2018-06-19 18:47] Turbo87 commented on #14
@sindresorhus it seems that this issue can be closed now that https://github.com/sindresorhus/get-port/pull/20 was merged.

[2018-06-19 20:08] #14 closed

[2018-07-24 01:37] #19 closed

[2018-07-24 22:00] acostalima commented on #9
@sindresorhus what do you think?

[2018-07-24 22:03] sindresorhus commented on #9
I don’t think we should change the defaults, but a note in the readme makes sense.

[2018-07-24 22:07] acostalima commented on #9
@OmgImAlexis would you like to open a PR?

[2018-09-03 22:15] balupton opened #22 "Possible interest in hostenv package"
Seems this package would go along well with https://github.com/bevry/hostenv for the port and hostname defaults

[2018-09-18 09:52] WoZ commented on #22
Why does get-port need it?

[2018-09-19 01:15] balupton commented on #22
Would be able to get the port that the host expects right away, rather than trying potentially unused ports. The trying of potentially unused ports can be a fallback if the host did not specify a port.

[2018-09-19 14:18] WoZ commented on #22
You are talking about business logic of application. I think that developers should choose such strategy and not a module.

[2018-10-13 10:33] sindresorhus commented on #22
I don't think it's a good fit.

[2018-10-13 10:33] #22 closed

[2018-10-18 06:08] max-block opened #23 "Is it possible to fix race condition?"
I use this library in my jest tests. Jest runs in parallel ~ 20 test files which use it. For such a use case the chance of race condition is not tiny, I think in my case it's 30%.

Is it possible to fix race condition?

[2018-10-18 06:41] sindresorhus commented on #23
For that specific case, we could use a lock to only allow one execution of `get-port` at the time.

[2018-11-02 11:24] tiagosiebler opened #24 "Preferred port range?"
Would be nice to see an option to provide a preferred range, rather than array of ports.

[code]

[2018-11-02 11:34] tiagosiebler commented on #24
Lil snippet that helps, in case you want to make this a feature:
[code]

[2018-11-02 15:00] acostalima commented on #24
I fail to see a use case where one would try to find an available port in a range of 1000+ ports, but I might be missing something. Anyhow, I think the array argument should do just fine for most scenarios. If you really need to target a specific range, you can provide it yourself just like in the example above.

@sindresorhus?

[2018-11-02 16:19] kevva commented on #24
I agree. Accepting an array like we do now is sufficient enough.

[2018-11-04 18:36] sindresorhus commented on #24
@tiagosiebler What's your use-case for needing ports in a specific range?

[2018-11-05 09:53] tiagosiebler commented on #24
@sindresorhus distributed nodejs workers, each of which may be running a long-term task. New task = new worker, so it's never sure how many I'll need on each server.

Each worker exposes a dedicated REST API, but may not be running as a root user. I'm not sure if this lib might accidentally give a privileged port that requires root to open or how that kind of clash is handled. I'd rather just prov

[2018-11-09 07:42] HaykoKoryun commented on #24
@acostalima we maintain a large number of components and sometimes need to work on several of them at the same time. Each component spins up a small local web server for it's demo (with all possible configurations). Since we will never go above say 200 components, it would be easy to declare a range from `3000` to `3200` and leave it at that.

[2019-01-28 21:06] Hongdeshuai opened #26 "Not responding"
Not responding at all on windows

[2019-01-28 21:09] Hongdeshuai commented on #26
return getPort().then(port => {
            console.log("got the port");
            fs.writeFileSync(path.join(util.supportDir(), 'openvpn.port'), port);
            return port;
        }).catch(e => {
            console.log("got the port error here catched",e);
            fs.writeFileSync(path.join(util.supportDir(), 'openvpn.port'), 1194);
            return 1194;
        });

This is my cod

[2019-01-29 05:33] sindresorhus commented on #26
Submit a pull request with a [failing test](https://github.com/avajs/ava/blob/master/docs/01-writing-tests.md#failing-tests) and I'll take a closer look. I'm requesting this as most issues like these are just users using the module incorrectly or an unrelated problem.

[2019-02-14 04:00] sindresorhus commented on #24
I don't want to overload the `port` option with another value type, but maybe we could expose a `getPort.makeRange(from, to)` method for convenience. The benefit of having it as a method is that it's more flexible. You could combine ranges or filter out some specific ports from the range.

It should throw an error if the `from` argument is lower than 1024, as those are system/well-known ports.

[2019-03-18 17:54] r0mflip commented on #24
This can be really helpful when you try to find a useful port in a given range. A good example would be, Spotify [used to] listens on a specific port in range(say, from 6540 to 6550 something), the widget player in browser sends a request to `127.0.0.1:6540` upto `6550` and connects to the system app installed, controlling it.

I also found this feature required on a project of mine, where I tried

[2019-04-05 10:20] #24 closed

[2019-04-11 13:55] thomas-alrek opened #31 "Does not assign a random port if the desired port is unavailable"
Hello.

I am experiencing a issue.
If I have a server running on e.g http://localhost:8080, the following code still assigns me port 8080 instead of a random port:

[code]

[2019-04-11 15:23] stroncium commented on #31
[code]

This test ensures this can't happen.
I also tried using another process(`http-server` from npm) to take port 8080 and your code gave me proper port(not 8080). Can you provide full reproduction steps, @thomas-alrek ?

[2019-04-11 20:12] thomas-alrek commented on #31
In my specific use case I have a Docker container running nginx, configured like this:

**Dockerfile**
[code]

**docker-compose.yml**
[code]
So this container is not listening on port 8080.

I then have another project, where I am using get-port to assign a random port (but I prefer to have 8080 if available).

[code]

Which still gives me 8080, instead of the expected random port.

[2019-04-11 23:42] stroncium commented on #31
I've tried to do exactly the same thing on linux and it still gave me proper(non-8080) port.

It semi-confirms my original idea that it is not related to `get-port`, but to networking setup. You seem to be using mac. I'm not sure how exactly docker is implemented for macs, but I found this:

It's a bit hard for me to understand how this whole concoction works, and I have no way to experiment, but

[2019-04-17 16:19] stroncium commented on #31
@thomas-alrek Any update on this?

[2019-04-19 10:06] labsvisual commented on #31
@stroncium, I can confirm this behavior. To reproduce this (on a macOS), run - for example - `nginx` and forward it to port `8080` with `docker run -p 8080:80 -d nginx:latest` and then try invoking `getPort()` with the preferred port as `8080`.

[code]

I don't find taking this up as a fix; what do you think? 😄

[2019-04-19 16:10] stroncium commented on #31
@labsvisual Can you please provide me with additional info then? I don't have macos anywhere within reach.

[2019-04-19 18:11] labsvisual commented on #31
Sounds lovely. I didn't include it in that comment because I was still experimenting with the code. I have prepared a small test file for this which tests this behavior against a couple of versions of Node.

I'll just collate everything I found out here.

[2019-04-21 22:44] labsvisual commented on #31
@stroncium, some updates.

---

I wrote a quick [`http-server`](https://github.com/labsvisual/libuv-server) in `libuv` to see if the problem was something inherent to Node.js. Turns out, it's not. If you build the project and run `./server` if there are no Docker/port conflicts, it just works.

However, if you _do_ have something running on the port you get:
<img width="490" alt="Screen Shot 2019-

[2019-04-22 01:06] stroncium commented on #31
@labsvisual So, I take it you confirm the problem exists, but there is no error reported from nodejs?

If so, I can only guess there, as I still have no access to test machine, but could it be related to ipv6 vs ipv4? Your code does strict ipv4 bind, I've read nodejs source and your source + know that docker sets up only ipv4 networking be default.
Nodejs does try to bind to ipv6 `::` first, and o

[2019-05-01 16:43] sindresorhus commented on #26
Closing as I don't think this is a problem with `get-port`. Happy to reopen if you submit a failing test.

[2019-05-01 16:43] #26 closed

[2019-05-08 18:29] JeffyLo94 commented on #31
I encountered this issue as well. I can confirm it is an ipv6 vs ipv4 issue.

Can this be a possible enhancement: add the option to specify ipv4 or ipv6 when checking the ports. Perhaps add it to your options?

As a temporary work around, if anyone else has issues with this, feel free to use this function as a check (note: this lacks the range features):

[code]

[2019-05-08 19:11] stroncium commented on #31
@JeffyLo94 You can just pass `host` option to `get-port`.

[2019-05-29 21:37] Charliekenney23 commented on #23
I was going to solve this with a mutex, but it felt wrong. Honestly it seems like it should be the consumers responsibility to synchronize getting a port and using it.

Even if you make access to resolving a port mutually exclusive, after it resolves the consumer will likely do something async with the port. Which means there is an opportunity for `getPort` to resolve the same port again and boom,

[2019-06-07 22:45] chriskuehl commented on #23
What about using the same trick that ephemeral-port-reserve uses? https://github.com/yelp/ephemeral-port-reserve

Specifically, force the chosen port into `TIME_WAIT` state so that it won't get given out to other processes for the kernel-configured time period (60 seconds by default) but is still available to be bound to explicitly.

This should eliminate the race condition, assuming a couple (pro

[2019-07-04 06:54] Carrie999 commented on #31
[code]
it'is solved

[2019-07-08 07:55] sanji-programmer commented on #23
I also could confirm the issue; using a limited range of ports makes it more likely:
https://github.com/sanji-programmer/get-port-race-example/blob/master/race.js

Yet, it is still pretty rare with this code, but could reproduce the race with a tool I've worked with to test different schedules of the event loop. The race may occur with as few as 2 concurrent accesses.

As discussed, the race raise

[2019-07-08 17:14] Aghassi commented on #31
@stroncium What @Carrie999 posted does solve the issue. Can we either note it in the README or fold in the check that @JeffyLo94 added to the internal logic? This way, it is more automatic for folks who are unaware. Otherwise, the README can elaborate on the issue a little more so folks are aware they may need a `host` specified. I'm happy to contrib either, just looking to you guys to see what is

[2019-07-14 15:16] shellscape opened #34 "v4 to v5 Update Functionality Differences"
I may need some guidance as to how to go about nailing down the cause. I'm using `getPort` in an `ava` test environment in conjunction with `puppeteer` and `webpack`. When using get-port@4.2.0 everything works as expected. After updating to v5, I get multiple test files attempting to use the same port. My only shot-in-the-dark is that it's somehow related to the changes in v5 to the available port

[2019-07-14 16:59] sindresorhus commented on #34
// @stroncium

[2019-07-23 13:52] stroncium commented on #34
By design this library doesn't guarantee that it won't give the same result to parallel calls.

- works all the same for another part of the same application, which might find the same port(equals starts using then stops using it) before you start to actually use it.

The change in behavior might be related to switch to async which is supposed to slightly change distribution of code execution betw

[2019-07-23 13:58] stroncium commented on #31
@Aghassi Not sure this will be the right way to go. Node.js core logic does exactly the same, so we're supposed to follow it I guess. Plus we don't actually break any promises, because the port you get can actually be used.

Generally, I think folks should be aware of how they configured their network when dealing with network apps, but that might be just me being annoyed.

@sindresorhus I think y

[2019-11-25 11:48] davidmarkclements commented on #23
I've noticed repeated ports in-process under circumstances where get-port and ports are bound and unbound - in this scenario the port returned from get-port actually can't be bound to immediately. So there's in in-process race condition as well, I've addressed it in #36 using a sort of GC approach to the ports - this is more efficient that one interval per port, or iterating TTL's and it can also

[2019-12-02 16:27] HunorMarton opened #37 "getPort.makeRange clashing when running parallel tests"
I'm using `ava` to set up multiple CDCT tests starting with this:
[code]

Works great, tests are running in parallel and different ports are used:
[code]

But Pact gives me a warning saying I'm using a port outside it's recommended range:
[code]

While it's just a warning, it's still not nice, so I change it to this:
[code]
But then both end up to be on the same port and my tests fail
[code]

Coul

[2019-12-17 22:01] mjgallag opened #38 "Fall back to a random port if prefered port is privileged"

[2019-12-18 17:04] #38 closed

[2019-12-18 17:06] sindresorhus commented on #37
Duplicate of #23

[2019-12-18 17:06] #37 closed

[2019-12-18 17:06] sindresorhus commented on #37
The in-process race condition you're experiencing was fixed by https://github.com/sindresorhus/get-port/commit/73e21d8c2f9ad2d4eb6bff0503292f44014b8bfd.

[2019-12-18 17:08] sindresorhus commented on #34
Duplicate of #23

[2019-12-18 17:08] #34 closed

[2019-12-18 17:08] sindresorhus commented on #34
The in-process race condition you're experiencing was fixed by https://github.com/sindresorhus/get-port/commit/73e21d8c2f9ad2d4eb6bff0503292f44014b8bfd.

[2019-12-22 13:35] tjx666 opened #41 "conside provide a synchronous mode options ?"
Sometime It would be more convenient if the getPort supports synchronous mode.
For example, when I get the get the test config:
[code]

[2019-12-22 16:47] sindresorhus commented on #41
This is not possible. The Node.js API we use to get the port is asynchronous. You can make it synchronous yourself with something like https://github.com/abbr/deasync.

[2019-12-22 16:47] #41 closed

[2020-01-01 00:10] Drulac commented on #26
Same issue, strange because it's was working an hour ago, with the same code :thinking:

[2020-01-02 19:45] mmykhaylov opened #43 "Requested port is not assigned after 5.0.0 update, even though its available"
Hello,

I have an issue. The code is:

` ./index.js `

[code]

` ./fixture.js `

[code]

With version 4.2.0 the output is as expected
[code]
With ^5.0.0, however, the second time I'm requesting the port, it comes out 1 more than before:
[code]
Has anyone here encountered this issue or knows any way to solve it?

[2020-01-06 20:55] AlexSHoffman opened #44 "TypeError: interval.unref is not a function"
When I run `await getPort()` in an Electron app (dev) I get the following error:

[code]
[code]

[2020-01-06 21:03] #44 closed

[2020-01-14 15:06] cegerard opened #45 "Jest tests time out since 5.1.0"
Hi.
I use get-port in my jest test and it works perfectly since the 5.1.0 recent update.

Now my jest tests timeout and jest warns about some open handles from get-port.
Jest warn about this line https://github.com/sindresorhus/get-port/blob/master/index.js#L51 in particular.

My solution to make my test back to work is to downgrade get-port to 5.0.0.

Has anyone encountered this issue ?

[2020-01-15 08:04] sindresorhus commented on #43
// @davidmarkclements

[2020-02-24 11:18] WormGirl commented on #31
`(async () => {
  let port = await getPort({host: '0.0.0.0', port: getPort.makeRange(8080, 9000)})
  app.listen(port)
  console.log('- working on：' + chalk.cyan(`http://${ip.address()}:${port}`))
})();`

[2020-02-24 19:29] stroncium commented on #31
@sindresorhus this should probably be closed.

[2020-02-25 20:49] patrick-tolosa commented on #31
@stroncium  - I just recently stumbled upon this issue myself, could only solve it thanks to this open issue.

I think it should be included in the read me, at least as a gotcha.

[2020-02-27 19:22] sindresorhus commented on #31
PR welcome to update the readme.

[2020-02-27 20:50] IamTheHttp commented on #31
I opened a PR to update the read, happy to make changes where needed

[2020-03-02 16:50] zcmgyu opened #47 "Get the port that is not available"
* Check 4723 in use:

* Get free port by `get-port`:
After 1 minute, i run below code.

[code]

My PC is using 4723 port, but get-port still gives me 4723 port.

<img width="567" alt="Screen Shot 2020-03-03 at 1 41 36" src="https://user-images.githubusercontent.com/13638569/75698158-91ba4980-5cf1-11ea-979a-cd5e1bc05287.png">

PS: I've tried some other library like `portfinder` and it works as expe

[2020-03-06 16:36] sindresorhus commented on #31
@stroncium I've been thinking about this. Maybe we should just check both `::` and `0.0.0.0` by default if `host` option is not specified? That way it just works no matter what.

[2020-03-06 21:40] stroncium commented on #31
@sindresorhus but then results will be kinda incorrect, as there will be free port we don't use. Also, I don't exactly remember semantics here, but I think if you request a port on 0.0.0.0 it will be given even if it's taken on part(but not all) of v4 ips handled by host(so we will have same situation, but even more convoluted). But even without that, we will be introducing a leaky abstraction whi

[2020-03-09 09:00] sindresorhus commented on #31
Yes, but I would argue it's better with a false-negative than a false-positive. This is just a simple tool to find a free port. It doesn't really matter if it's sometimes not actually taken.

That rarely works in practice. It's IMHO better to adjust to the expected behavior and clearly document everything.

[2020-03-25 07:06] gzaripov commented on #45
Yes, I did.
Problem is in setInterval inside the library, I think it's the right decision to check that timer wasn't in use, but logic with two generations of times looks overcomplicated for me. On a machine we have 65,535 ports, do we really need two generations? We can add ports to Set `usedPorts` and never use them except when a user specifies that port.

[2020-05-22 23:05] dobesv commented on #45
I think this interval thing is a bit weird and should probably be disabled by default.  We're only calling get-port once on startup, we never call it again.  We don't need a timer running forever.

[2020-05-29 21:48] dylang opened #48 "Feature request: Available port for any localhost host (localhost, 0.0.0.0, 127.0.0.1)"
If `server.listen` is used with a `host`, then `get-port` only returns the correct result if the _same_ `host` value is provided.

[code]

This works, because we put in the host `localhost`, matching above:
[code]

*However, when you don't know what host was used in the other project, or what host will be used in yours, you could be in trouble:*

[code]

If that 3000 port is then used later in you

[2020-05-30 13:21] sindresorhus commented on #48
See my comment in https://github.com/sindresorhus/get-port/issues/31#issuecomment-596407350. I think we indeed should *just work* by default.

[2020-10-15 08:00] silverwind opened #49 "Get multiple ports via `number` option"
I'd like to get two or more free ports in the full range of ports with the assignment mechanism than `getPort()`.

Now there is `getPort.makeRange(1024, 65535)` and calling `.next()` multiple times achieves a similar result but it's not exactly the same as `getPort()` because ports are assigned sequentially from the `start` argument.

I'd suggest a `number` option that that if passed changes the s

[2020-10-15 08:02] silverwind commented on #49
Actually, it seems `getPort()` may already be suitable if it can guarantee that it will never return the same port:

[code]

Is this guarantee true? What happens if the port range is exhausted?

[2020-10-15 08:10] silverwind commented on #49
Actually, I think I can answer myself. It should reject if port space is exhausted (.listen will fail).

[2020-10-15 08:10] #49 closed

[2020-11-20 13:00] mmykhaylov commented on #43
The package seems to be abandoned, closing the issue. Use portfinder for similar functionality

[2020-11-20 13:34] sindresorhus commented on #43
Not abandoned, just lack of time on my part.

[2020-12-23 19:45] bgturner commented on #31
I found this issue from a search engine and it helped me. I agree that this is an issue with the networking layer, but we made assumptions that turned out to bite us. To be specific, in our case, it wasn't IPv6/IPv4 differences, but instead `localhost`/`127.0.0.1` differences.

So for example, we originally wanted to make requests against: `127.0.0.1:4000` and asked for a port like:

[code]

But i

[2021-07-23 18:13] vjpr opened #54 "Exclude port option"
Say you have a list of statically assigned ports associated with apps that may be running or not running.

If you start an app that is not already assigned, you want a new port, but one that is not already in your list.

So an option `exclude` would resolve this, which is much better than the workaround of manually specifying an array of `include` ports.

[2021-07-26 12:43] sindresorhus commented on #54
https://github.com/sindresorhus/get-port/pull/53

[2021-07-26 12:50] #54 closed

[2021-08-03 19:16] sindresorhus opened #55 "Add `exclude` option"
See the feedback and initial work in https://github.com/sindresorhus/get-port/pull/53 (If you want to work on this, please do a better job than that PR).

[2021-08-31 19:06] hasezoey opened #57 "Feature Request: function to clear the ports cache"
## Description

I would like to request a function where when called the `lockedPorts` reset (both `old` and `young`)
or simply expose that object with `exports` so it can manually be cleared

[2021-08-31 22:13] sindresorhus commented on #57
How would you use it? What problems would it solve?

[2021-08-31 22:19] hasezoey commented on #57
my use case is to use that function at least in tests instead of having to wait full 30s (double 15s, to be sure), because from the nodejs process we use `get-port` to find a free port, and spawn another process that will use it (non-nodejs), and then we need to stop it and restart (to test start-stop-start), and in between we use `get-port` to test if the port is used up again - but on the second

[2021-09-22 13:44] sindresorhus commented on #57
Your use-case is a bit obscure and outside of the intended scope of this package, but I'm not against some kind of method to clear the cache, as long as its use-case is clearly documented.

[2021-10-03 16:39] sindresorhus opened #58 "Fix macOS tests"

[2021-10-03 16:39] #31 closed

[2021-10-03 16:39] #48 closed

[2021-10-03 17:03] sindresorhus commented on #45
Yeah, I think it should use `setTimeout` instead of `setInterval`.

[2021-10-03 17:07] sindresorhus commented on #9
It now checks all local hosts by default: https://github.com/sindresorhus/get-port/releases/tag/v6.0.0

[2021-10-03 17:07] #9 closed

[2021-10-03 17:12] sindresorhus commented on #47
This should be fixed in the latest version: https://github.com/sindresorhus/get-port/releases/tag/v6.0.0

[2021-10-03 17:12] #47 closed

[2021-10-03 21:26] jeanbispo opened #59 "ERROR in new Release"
![Captura de Tela 2021-10-03 às 18 26 06](https://user-images.githubusercontent.com/17678567/135772035-fb939405-dc39-44cc-ba74-32a2cd1ecaa4.png)

[2021-10-04 02:09] sindresorhus commented on #59
Please read the release notes for the release.

[2021-10-04 02:09] #59 closed

[2021-11-20 11:44] Richienb opened #60 "Allow a validation function"
Instead of checking if a file exists, we just try to open it.
So, instead of searching for a port, try to use the port and try another if it fails.

So, for example:

[code]

What should the `getValidatedPort` function return? If we return the port that is used, we can't access the return value of the validation function and vice versa.

How should we check if the validator function approves an op

[2022-01-06 12:53] sindresorhus commented on #60
What problem does this solve? The current ways of getting ports is working fine for me, so not sure how this makes it better.

[2022-01-08 03:16] sindresorhus commented on #60
It is actually possible to reserve a port, and the kernel will then ensure it's not taken by other processes. I think the best first course of action would be to open a Node.js issue requesting an API for this.

- https://stackoverflow.com/questions/19374997/easier-way-to-reserve-port-number-in-c
- https://stackoverflow.com/questions/13308144/how-to-get-the-first-available-tcp-port-to-listen-to
-

[2022-02-08 06:48] YiyuanYin opened #61 "(0 , _getPort.portNumbers) is not a function"
When I run the below code in an Electron app
[code]
I encountered the problem ``(0 , _getPort.portNumbers) is not a function``
![9A724661-9408-41d0-9251-1C8AB82DA8A2](https://user-images.githubusercontent.com/9218146/152933069-d49fcd6b-d044-4e4b-acfb-20f715bf83a5.png)

[2022-02-08 07:19] sindresorhus commented on #61
This is a problem with the tool/bundler you use, not this package.

[2022-02-08 07:19] #61 closed

[2022-02-16 09:41] sindresorhus commented on #55
Fixed by https://github.com/sindresorhus/get-port/pull/53

[2022-02-16 09:41] #55 closed

[2022-02-20 02:25] jonahsnider opened #62 "Possible portNumbers argument validation bug?"
https://github.com/sindresorhus/get-port/blob/50e24f66bc142f5197d74f180a9717425bd18133/index.js#L163-L165

Is this `+ 1` logic correct?

If you run this snippet:
[code]

You get the output

[code]

The maximum port number should be 65,535 but the argument validation seems to allow the value `65536` to be returned.

If this is a bug I'd be happy to PR it.

[2022-02-20 04:16] sindresorhus commented on #62
@mastrzyz

[2022-02-22 23:03] mastrzyz commented on #62
Interesting, this does look like a bug but , I'd like some more context @sindresorhus , previously the code was :

[code]

My change https://github.com/sindresorhus/get-port/commit/d03c07b95d56c441df5de4670bd0951b4999dbd9 , changed it to :

[code]

So its effectively the same code as before, was it always a bug here?

[2022-02-24 15:31] #62 closed

[2022-02-24 15:31] sindresorhus commented on #62
Seems so.

[2022-03-01 16:28] mastrzyz commented on #58
@sindresorhus is this still active? I can spare some cycles here.

[2022-03-01 16:48] sindresorhus commented on #58
Seems like the tests were fixed at some point. Everything seems to be passing now.

[2022-03-01 16:48] #58 closed

[2022-03-01 16:54] DoodahProductions opened #65 "Cannot find module 'node:net' or its corresponding type declarations."
Hello, I do encounter this issue :

[code]

Node version : v17.6.0

Thanks for your work on this package.

[2022-03-01 16:56] sindresorhus commented on #65
Sounds like you have outdated Node.js types.

[2022-03-01 16:56] #65 closed

[2022-04-18 09:23] hakonhagland commented on #65
I have the same problem. I tried to google `node:net` but could not find any information. I tried to reinstall `npm install @types/node` but it did not solve the problem

[2022-04-22 20:28] hakonhagland commented on #65
Ok I found that the problem might be that I was using the default setup for writing a VS Code extension. It uses `commonjs` module types by default. If I change the `tsconfig.json` to use compiler option `"module": "es6"` it finds the `node:net` import, however then I ran into [this](https://stackoverflow.com/questions/71927205/how-to-use-get-port-package-from-a-vs-code-extension) issue. Which I n

[2022-06-15 21:24] davidviziteu opened #66 "Error: require() of ES Module not supported"
I tried using this module in an electron app, both in main and preload processes/scripts.

error:

Uncaught (in promise) Error: require() of ES Module C:\Users\..\node_modules\get-port\index.js from C:\Users\...\client\dist\preload\index.cjs not supported.
Instead change the require of index.js in C:\Users\.....\client\dist\preload\index.cjs to a dynamic import() which is available in all CommonJS

[2022-06-15 22:21] sindresorhus commented on #66
https://gist.github.com/sindresorhus/a39789f98801d908bbc7ff3ecc99d99c#how-can-i-import-esm-in-electron

[2022-06-15 22:21] #66 closed

[2022-08-09 07:12] Sukumaran001 opened #67 "Portnumber Range Doesnot support in ServerSide"
**I'm trying to use the server with multiple ports and dynamic response to get the port number within the range of port numbers
but they didn't support it on the server side.**

_get-port version->6.1.2_

[code]
I'm trying on

but the _import module_ doesn't support on nodejs server, the only use of _require method_

Does anyone Have an idea?

[2022-08-09 12:33] sindresorhus commented on #67
https://gist.github.com/sindresorhus/a39789f98801d908bbc7ff3ecc99d99c

[2022-08-09 12:33] #67 closed